<html>
	<script src="https://cdn.socket.io/socket.io-1.4.8.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
	<head>
		<title> group.listen </title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	</head>
	<body>
		<!-- page toolbar div structure -->
		<div class="row">
			<div class="col-sm-2">
				<a href="/">
				<img src="/gl.png" style="width:102px; height:75px;">
				</a>
			</div>
			<div class="col-sm-8 text-center">
				<h1><%= pageHeader %></h1>
			</div>
			<div class="col-sm-2 text-center">
				<a href="/sign_up">sign up</a>
				<a href="/login">login</a>
			</div>
		</div>

		<div class="row" style="
			background: lightgray;
			padding: 15px 15px;">
			<div class="col-sm-4 text-center">
				<a href="/host_new_room">host session</a>
				</div>
				<div class="col-sm-4 text-center">
					<a href="/join_room">join session</a> 
				</div>
				<div class="col-sm-4 text-center">
					<a href="/faq"> FAQ </a>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<iframe id="player"
				        width="640" height="360"
				        src="https://www.youtube.com/embed/<%= roomID %>?enablejsapi=1"
				        autoplay="1"
				></iframe>
		    	<script>
		    		var tag = document.createElement('script');
		    		tag.id = "ytapi";
					tag.src = "https://www.youtube.com/iframe_api";
					var firstScriptTag = document.getElementsByTagName('script')[0];
					firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

					// 3. This function creates an <iframe> (and YouTube player)
					//    after the API code downloads.
					var socket = io();
					var player = null;
					function onYouTubeIframeAPIReady() {
					  player = new YT.Player('player', {
					    events: {
					      'onReady': onPlayerReady,
					      'onStateChange': onPlayerStateChange
					    }
					  });
					}

					// 4. The API will call this function when the video player is ready.
					function onPlayerReady(event) {
						console.log("I'm ready");
					  //event.target.playVideo();
					}

					// 5. The API calls this function when the player's state changes.
					//    The function indicates that when playing a video (state=1),
					//    the player should play for six seconds and then stop.
					function onPlayerStateChange(event) {
					    console.log(player.getCurrentTime());
					    socket.emit('current time', player.getCurrentTime());
					}

					socket.on('new connection', function(msg){
						console.log(player.getCurrentTime());
					});

		    	</script>
		    	<div>
		    		<p> Share this room with your friends: http://localhost:3000/room/<%= roomID %> </p>
		    	</div>

			</div>
			<div class="col-sm-4">
				<input type="text" id="userinput" placeholder="Share your thoughts" style="width: 380px";/>
				<div id="output" style="height: 550px; width: 380px; border:3px solid #ccc; overflow:auto;"></div>
				<!-- TODO SOMETHING WITH ID -->
				<script>
				</script>
				<!--chat page goes here-->
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-sm-8 text-center">
				<p> Info at the bottom </p>
			</div>
			<div class="col-sm-4 text-left">
				<a href="/about"> About </a>
			</div>
		</div>
	</body>
</html>